.app {
  min-height: 100vh;

  background: #05050b;

  color: white;

  padding-bottom: 84px;
}

.main {
  min-height: calc(100vh - 84px);
}

.bottom-nav {
  position: fixed;

  left: 0;

  right: 0;

  bottom: 0;

  height: 84px;

  background: #090912;

  border-top: 1px solid #20222e;

  display: flex;

  justify-content: space-around;

  align-items: center;
}

.nav-button {
  background: none;

  border: none;

  color: #6f7892;

  font-size: 12px;

  font-weight: 900;

  letter-spacing: 1px;

  cursor: pointer;
}

.nav-button.active {
  color: #18d8f0;
}

.placeholder-screen {
  padding: 22px;
}

.placeholder-screen h1 {
  font-size: 42px;

  margin-top: 22px;
}

.placeholder-screen p {
  color: #7e8aa3;
}